/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.profile-image {
  width: 300px; /* Adjust the width to your desired size */
  height: auto; /* This keeps the aspect ratio */
}


/* Header Section */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
}

/* Section Styles */
.section {
  padding: 60px 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 8px;
  font-size: 1.1rem;
}

.project {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project p {
  font-size: 1rem;
}

/* Links */
a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Footer Section */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
